@import "tailwindcss";

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --blue-400: hsl(180, 66%, 49%);
  --purple-950: hsl(257, 27%, 26%);
  --red-400: hsl(0, 87%, 67%);
  --gray-400: hsl(0, 0%, 75%);
  --gray-500: hsl(257, 7%, 63%);
  --gray-900: hsl(255, 11%, 22%);
  --gray-950: hsl(260, 8%, 14%);
  --icon-brand: url('./assets/icon-brand-recognition.svg');
  --icon-detailed: url('./assets/icon-detailed-records.svg');
  --icon-fully: url('./assets/icon-fully-customizable.svg');
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@layer base {
  a {
    color: var(--gray-500);
    text-decoration: none;
  }

  a:hover {
    color: var(--purple-950);
  }

  h1, h2, h3, h4, h5, h6 {
    color: black
  }
}

body {
  font-size: 1rem;
  background-color: white;
  width: 100%;
  font-family: inherit;
  line-height: 1.5;
  flex-direction: column;
  background-image: url('./assets/illustration-working.svg');
  background-repeat: no-repeat;
  background-position: 110% 10%;
  background-size: 600px;

}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.app {
  width: 100%;
  /* max-width: 1072px; */
  padding: 0 10rem;
}

.shortener {
  background: var(--purple-950) url('./assets/bg-shorten-desktop.svg') no-repeat center;
  background-size: cover;
}

.call-to-action {
  position: relative;
  background: var(--purple-950) url('./assets/bg-shorten-desktop.svg') no-repeat center;
  background-size: cover;
  z-index: 1;
}

/* In your CSS file or @layer components */
@layer components {
  .footer-links a {
    @apply transition-colors duration-250;
  }
  
  .footer-links a:hover {
    @apply text-(--blue-400);
  }

  .footer-links svg {
    @apply transition-colors duration-250;
  }
  
  .footer-links svg:hover {
    @apply text-(--blue-400);
  }
}


/* .call-to-action::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--purple-950) url('./assets/bg-shorten-desktop.svg') no-repeat center;
  z-index: -1;
} */